<?xml version='1.0' encoding='utf-8'?>
<widget id="com.infitt.vassipputhuligal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Vassippu Thuligal</name>
    <description>
    தேசியப்பள்ளி மாணவர்களுக்கு லகர, ளகர, ழகர சொற்களை உச்சரிக்கவும் பயன்படும் செயலியாகும்.
    </description>
    <author email="info@otpam.com" href="http://otpam.com">
   OTPAM
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
</widget>
