<ion-view title="பக்கம் 1 " id="page16">
  <ion-content padding="true" style="background: url(img/HIXNqNzHTG2ZJBftDdLX_65131824-scientific-background-abstract-science-backdrop-human-dna-running-away-technology-of-mutation-bioeng.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/uag6HT6KRwaSriEpbH2d_Presentation1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page17()" id="1-button25" style="font-weight:600;font-style:italic;" class="button button-assertive button-block">ல,ள,ழகர உச்சரிப்பு முறை</a>
    <a ui-sref="page20()" id="1-button26" style="font-weight:600;" class="button button-energized button-block">லகர சொற்கள்</a>
    <a ui-sref="page21()" id="1-button27" style="font-weight:600;" class="button button-royal button-block">ளகர சொற்கள்</a>
    <a ui-sref="page22()" id="1-button28" style="font-weight:600;" class="button button-dark button-block">ழகர சொற்கள்</a>
    <a ui-sref="page23()" id="1-button29" style="font-weight:600;" class="button button-calm button-block">பயிற்சிகள்</a>
    <div id="1-button-bar4" class="button-bar">
      <a ui-sref="page33()" id="1-button34" style="font-weight:600;" class="button button-positive button-small button-block">குறிப்பு </a>
      <a ui-sref="page34()" id="1-button36" style="font-weight:600;" class="button button-positive button-small button-block">பயன்</a>
    </div>
  </ion-content>
</ion-view>