<ion-view title="மேலும் பயிற்சிகள் " id="page27">
  <ion-content padding="true" style="background: url(img/CXIwgI6rS5m0xM8EgLjd_65131824-scientific-background-abstract-science-backdrop-human-dna-running-away-technology-of-mutation-bioeng.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page28()" id="page27-button48" class="button button-positive button-block">லகர பயிற்சி</a>
    <a ui-sref="page29()" id="page27-button49" class="button button-assertive button-block">ளகர பயிற்சி</a>
    <a ui-sref="page30()" id="page27-button50" class="button button-royal button-block">ழகர பயிற்சி </a>
  </ion-content>
</ion-view>