<ion-view title="லகர சொற்கள்" id="page20">
  <ion-content padding="true" style="background: url(img/d5fayLLT2SrqxJVVnAmu_65131824-scientific-background-abstract-science-backdrop-human-dna-running-away-technology-of-mutation-bioeng.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div ng-init="videourl_video6=&quot;https://www.youtube.com/embed/P0lbD8i3jbU?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page20-video6">
      <iframe src="{{videourl_video6}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <ion-list id="page20-list4">
      <ion-item class="item-thumbnail-left balanced" id="page20-list-item37">
        <img src="img/tbfzKbkmSFqT3ASGv6gA_thegopuram.jpg">
        <h2balanced>ஆலயம்</h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left royal" id="page20-list-item38">
        <img src="img/7rq7wLnySBCtAavh2Xmx_BlondKeenEarwig-size_restricted.gif">
        <h2royal>கால்</h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="page20-list-item39">
        <img src="img/VW4rWDcMSNelqNT0UYyy_HoC_Hulk_Cvr_A.jpg">
        <h2assertive>கேலிச்சித்திரம்</h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="page20-list-item40">
        <img src="img/bmhLarZqTQSobY2L47Zg_giphy1.gif">
        <h2balanced>ஒலி</h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left energized" id="page20-list-item41">
        <img src="img/fDDTMvjzQRW8PDs3sbHB_giphy2.gif">
        <h2energized>கடல்</h2energized>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="page20-list-item42">
        <img src="img/JO20TH3ESpS4o9wdquZ2_DependableRelievedBrahmanbull-size_restricted.gif">
        <h2balanced>காலணி </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="page20-list-item43">
        <img src="img/74z64vC8TIWy3RVTcAee_81191.gif">
        <h2assertive>விரல்</h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page20-list-item44">
        <img src="img/WSy9ZTduSoCFILE1tS0f_giphy.gif">
        <h2>சாலை</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="page20-list-item45">
        <img src="img/cobe1hYDQ2mRUVZhPkes_giphy3.gif">
        <h2assertive>தபால அட்டை</h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left energized" id="page20-list-item46">
        <img src="img/8wf6DMDRRVmuie221Cjy_giphy4.gif">
        <h2energized>காய்ச்சல்</h2energized>
      </ion-item>
      <ion-item class="item-thumbnail-left royal" id="page20-list-item47">
        <img src="img/WIeHvv66S9aiWkC96MfA_MildDiligentAlaskanhusky-small.gif">
        <h2royal>ஏப்ரல் மாதம் </h2royal>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>