<ion-view title="பயிற்சிகள்" id="page23">
  <ion-content padding="true" style="background: url(img/gkGdODHCRNaccK3iO20n_65131824-scientific-background-abstract-science-backdrop-human-dna-running-away-technology-of-mutation-bioeng.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page24()" id="page23-button43" style="font-weight:600;" class="button button-calm button-block">லகர பயிற்சிகள்</a>
    <a ui-sref="page25()" id="page23-button44" style="font-weight:600;" class="button button-assertive button-block">ளகர பயிற்சிகள்</a>
    <a ui-sref="page26()" id="page23-button45" style="font-weight:600;" class="button button-energized button-block">ழகர பயிற்சிகள்</a>
    <a ui-sref="page27()" id="page23-button46" style="font-weight:500;" class="button button-balanced button-block">மேலும் பயிற்சிகள்!!!</a>
  </ion-content>
</ion-view>