<ion-view title="ழகர பயிற்சி" id="page30">
  <ion-content padding="true" style="background: url(img/Q83PucNoTBG1FGXyusBg_65131824-scientific-background-abstract-science-backdrop-human-dna-running-away-technology-of-mutation-bioeng.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/F6OjWpxhRPeDVzaxjlbY_giphy1.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page30-button-bar16" class="button-bar">
      <a ui-sref="page()" id="page30-button115" class="button button-positive button-block">மழை</a>
      <a ui-sref="page2()" id="page30-button116" class="button button-positive button-block">மலை</a>
    </div>
    <div>
      <img src="img/etHFb4jAQqKPFf3mynVc_giphy2.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page30-button-bar17" class="button-bar">
      <a ui-sref="page()" id="page30-button121" class="button button-positive button-block">விழி</a>
      <a ui-sref="page2()" id="page30-button122" class="button button-positive button-block">விளி</a>
    </div>
    <div>
      <img src="img/bawK4DB6QLqWXHZT1CWH_figure_in_glass_box_md_wm.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page30-button-bar18" class="button-bar">
      <a ui-sref="page2()" id="page30-button127" class="button button-positive button-block">பேலை</a>
      <a ui-sref="page()" id="page30-button128" class="button button-positive button-block">பேழை</a>
    </div>
    <div>
      <img src="img/Vrmhnoq5RG2GtbL576gy_PettyTenderAstarte-size_restricted.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page30-button-bar19" class="button-bar">
      <a ui-sref="page()" id="page30-button133" class="button button-positive button-block">நிழல்</a>
      <a ui-sref="page2()" id="page30-button134" class="button button-positive button-block">நிலல்</a>
    </div>
    <div>
      <img src="img/qoIwUDFS36e1OpJ1qFYV_giphy3.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page30-button-bar20" class="button-bar">
      <a ui-sref="page()" id="page30-button139" class="button button-positive button-block">தோழி</a>
      <a ui-sref="page2()" id="page30-button140" class="button button-positive button-block">தோலி</a>
    </div>
  </ion-content>
</ion-view>