<ion-view title=" உச்சரிப்பு முறை" id="page17">
  <ion-content padding="true" style="background: url(img/2lkuQfKoQdyLL8qIshyi_65131824-scientific-background-abstract-science-backdrop-human-dna-running-away-technology-of-mutation-bioeng.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div ng-init="videourl_video5=&quot;https://www.youtube.com/embed/pAyOEMjrF0k?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page17-video5">
      <iframe src="{{videourl_video5}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="page17-button-bar5" class="button-bar">
      <button id="page17-button40" class="button button-energized button-block">லகரம்</button>
      <button id="page17-button41" class="button button-positive button-block">ளகரம் </button>
      <button id="page17-button42" class="button button-assertive button-block">ழகரம் </button>
    </div>
    <div>
      <img src="img/jd9Wg7W9Rrq7ilHh3T3o_maxresdefault.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/JpzCREsSbKQVLynrAnu2_hqdefault.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/lOBqOOVpTvyOMxML7Sb0_2.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>