<ion-view title="ளகர சொற்கள்" id="page21">
  <ion-content padding="true" style="background: url(img/4rOYYhS4RdC3hTUmabza_65131824-scientific-background-abstract-science-backdrop-human-dna-running-away-technology-of-mutation-bioeng.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div ng-init="videourl_video7=&quot;https://www.youtube.com/embed/kfz4PmiWvLo?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page21-video7">
      <iframe src="{{videourl_video7}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <ion-list id="page21-list5">
      <ion-item class="item-thumbnail-left assertive" id="page21-list-item48">
        <img src="img/udQ0NfhhTW1epP6Mymsm_home-clipart-preschool-640807-7818447.gif">
        <h2assertive>பள்ளி </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left dark" id="page21-list-item49">
        <img src="img/qttsA8oBR66Sh6sD4UDH_WeeTerribleCondor-size_restricted.gif">
        <h2dark>குளம்</h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page21-list-item50">
        <img src="img/kmW1EK7qTry5cHPR5x6p_692eb2d1675b305c6e388464d081071b.gif">
        <h2>தவளை </h2>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="page21-list-item51">
        <img src="img/Bd0fQ2iETLON8aAf78uX_drum.gif">
        <h2balanced>மேளம்</h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left royal" id="page21-list-item52">
        <img src="img/3L6m1q9SGmpRs1cNTQZg_giphy.gif">
        <h2royal>சோளம்</h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page21-list-item54">
        <img src="img/gQhWN6i3RDCzeL6G9iUG_photofunky.gif">
        <h2>குவளை</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left calm" id="page21-list-item53">
        <img src="img/1fzXriHRK2IrRPve314M_ICHe.gif">
        <h2calm>ஒளி (வெளிச்சம்)</h2calm>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="page21-list-item55">
        <img src="img/44dC6XQ0QOKkaAf1SbJR_tenor1.gif">
        <h2assertive>பரிசளிப்பு </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="page21-list-item56">
        <img src="img/rtaebNENR5i1eRfKw8ej_tenor.gif">
        <h2positive>வெள்ளம் </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left royal" id="page21-list-item57">
        <img src="img/lWnBKgWEQS6Ph6PTngS5_tour_img-176960-148.jpg">
        <h2royal>மாளிகை</h2royal>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>