<ion-view title="ழகர சொற்கள்" id="page22">
  <ion-content padding="true" style="background: url(img/k9rklHqIQfXxNRHDLxOD_65131824-scientific-background-abstract-science-backdrop-human-dna-running-away-technology-of-mutation-bioeng.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div ng-init="videourl_video8=&quot;https://www.youtube.com/embed/hF3r1C1jEgw?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page22-video8">
      <iframe src="{{videourl_video8}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <ion-list id="page22-list6">
      <ion-item class="item-thumbnail-left calm" id="page22-list-item58">
        <img src="img/EAW2K05ITquVHZDpOOOg_HeavyHandyIggypops-size_restricted.gif">
        <h2calm>குழல்</h2calm>
      </ion-item>
      <ion-item class="item-thumbnail-left royal" id="page22-list-item59">
        <img src="img/H6VCbuZMR66LFOXjmDXz_source.gif">
        <h2royal>பழங்கள்</h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="page22-list-item60">
        <img src="img/y3KlyVkSR5qeLfjcxJPw_tenor1.gif">
        <h2assertive>பனிக்கூழ்</h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page22-list-item61">
        <img src="img/0BJiwNWsQl2Y1Y2mx8pI_tenor2.gif">
        <h2>ஏழை</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="page22-list-item62">
        <img src="img/Jhe9gHkhTeKnOnxnqVQq_tenor.gif">
        <h2balanced>கிழவன்</h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left energized" id="page22-list-item63">
        <img src="img/4WRUFcUuThy7oaDcmOyi_giphy.gif">
        <h2energized>கிழங்கு </h2energized>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="page22-list-item64">
        <img src="img/EORMneJgRdyossTH5K64_200px-Harp-ta.svg.png">
        <h2assertive>யாழ்</h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left energized" id="page22-list-item65">
        <img src="img/g1aLKX7XQfpsSYF3Am5H_animated-farm-image-0034.gif">
        <h2energized>உழவன்</h2energized>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="page22-list-item66">
        <img src="img/enMBjO0tSLGMJYo1LGDP_east-west-compass-final-md-01.png">
        <h2assertive>கிழக்கு</h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="page22-list-item67">
        <img src="img/HF4sl7yVRa6UeZIkLx2X_Tamil.jpg">
        <h2balanced>மொழி</h2balanced>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>