<ion-view title="குறிப்பு" id="page33">
  <ion-content padding="true" style="background: url(img/5dG9c4DESIu9yKDAOZUJ_65131824-scientific-background-abstract-science-backdrop-human-dna-running-away-technology-of-mutation-bioeng.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="page33-button99" style="font-weight:600;" class="button button-energized button-block">வாசிப்புத்துளிகள்</button>
    <form id="page33-form3" class="list">
      <label class="item item-input" id="page33-textarea2">
        <span class="input-label">லகர, ளகர, ழகர சொற்கள்</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/0qiiC9TFKODyiNnvpFDA_15622069_391395757864550_6623592025177539893_n.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/NljVSoZDTJmOGWYBNzmS_Capture.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page33-button100" class="button button-assertive button-block">வாசிப்புத் தோழன்</button>
    <button id="page33-button101" class="button button-energized button-block">நகர, னகர, ணகர சொற்களுக்கான செயலி ஆசிரியர் கண்ணன் </button>
    <div>
      <img src="img/hv1W6K4wQ8yXmYo5xUhs_WhatsAppImage2019-03-26at16.17.36.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page33-button102" class="button button-royal button-block">HERTZ</button>
    <button id="page33-button105" class="button button-calm button-block">ரகர, றகர சொற்களுக்கான செயலி ஆசிரியர் சர்மளா </button>
    <div>
      <img src="img/V6XhHlzuQ4u5DMMRZlO0_WhatsAppImage2019-03-26at13.36.28.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>