<ion-view title="ளகர பயிற்சி " id="page29">
  <ion-content padding="true" style="background: url(img/NcVFWUj0RIqQXeL68uuj_65131824-scientific-background-abstract-science-backdrop-human-dna-running-away-technology-of-mutation-bioeng.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/hX36sH7JQOqnNq035urU_8ixngRzeT.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page29-button-bar11" class="button-bar">
      <a ui-sref="page()" id="page29-button85" class="button button-positive button-block">பிள்ளை</a>
      <a ui-sref="page2()" id="page29-button86" class="button button-balanced button-block">பிழ்ழை</a>
    </div>
    <div>
      <img src="img/QeIWoPskTIWG1DXkVf5M_S2Vi.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page29-button-bar12" class="button-bar">
      <a ui-sref="page()" id="page29-button91" class="button button-positive button-block">வெள்ளி</a>
      <a ui-sref="page2()" id="page29-button92" class="button button-positive button-block">வெல்லி</a>
    </div>
    <div>
      <img src="img/FcmrPXSVQ1ikbhQDaRVn_images.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page29-button-bar13" class="button-bar">
      <a ui-sref="page2()" id="page29-button97" class="button button-positive button-block">வெழ்ழை</a>
      <a ui-sref="page()" id="page29-button98" class="button button-positive button-block">வெள்ளை</a>
    </div>
    <div>
      <img src="img/t4qp0nTtcIyfF0YGZwrY_tenor.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page29-button-bar14" class="button-bar">
      <a ui-sref="page()" id="page29-button103" class="button button-positive button-block">குளிர்</a>
      <a ui-sref="page2()" id="page29-button104" class="button button-positive button-block">குழிர்</a>
    </div>
    <div>
      <img src="img/dW9qajTQf6YZj1aISfW3_donghai-16_9.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page29-button-bar15" class="button-bar">
      <a ui-sref="page()" id="page29-button109" class="button button-positive button-block">நீளம்</a>
      <a ui-sref="page2()" id="page29-button110" class="button button-positive button-block">நீலம்</a>
    </div>
  </ion-content>
</ion-view>