<ion-view title="லகர பயிற்சி " id="page28">
  <ion-content padding="true" style="background: url(img/XB8M7W1QNauGYydKu3uA_65131824-scientific-background-abstract-science-backdrop-human-dna-running-away-technology-of-mutation-bioeng.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/ZHhtr76vQ6CBozDABcaB_cupboard-gif.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page28-button-bar6" class="button-bar">
      <a ui-sref="page2()" id="page28-button54" class="button button-positive button-block">அழமாரி</a>
      <a ui-sref="page()" id="page28-button56" class="button button-positive button-block">அலமாரி</a>
    </div>
    <div>
      <img src="img/DNeJOJB5QqGTS5AMTEbl_1Ame.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page28-button-bar7" class="button-bar">
      <a ui-sref="page2()" id="page28-button61" class="button button-positive button-block">பள்ளி</a>
      <a ui-sref="page()" id="page28-button62" class="button button-positive button-block">பல்லி</a>
    </div>
    <div>
      <img src="img/jwDFFNDoTXqiZ0rFA3WD_01_squirrel_4.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page28-button-bar8" class="button-bar">
      <a ui-sref="page()" id="page28-button67" class="button button-positive button-block">அணில்</a>
      <a ui-sref="page2()" id="page28-button68" class="button button-positive button-block">அணிழ்</a>
    </div>
    <div>
      <img src="img/gq1wW3jvTZWdrTcIikQQ_animated-rooster-image-0023.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page28-button-bar9" class="button-bar">
      <a ui-sref="page()" id="page28-button73" class="button button-positive button-block">சேவல்</a>
      <a ui-sref="page2()" id="page28-button74" class="button button-positive button-block">சேவள்</a>
    </div>
    <div>
      <img src="img/WBQtyt4DS0KAfMMPVmy3_giphy.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page28-button-bar10" class="button-bar">
      <a ui-sref="page2()" id="page28-button79" class="button button-positive button-block">சங்களி</a>
      <a ui-sref="page()" id="page28-button80" class="button button-positive button-block">சங்கலி</a>
    </div>
  </ion-content>
</ion-view>