<ion-view title="பயன்" id="page34">
  <ion-content padding="true" style="background: url(img/YphKOmwxTFO6RHYrIFLi_65131824-scientific-background-abstract-science-backdrop-human-dna-running-away-technology-of-mutation-bioeng.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/7cOsqJETsis3wqTu6SRh_Capture.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page34-button106" style="font-weight:600;" class="button button-assertive button-block">ஆசிரியர் பணியை நேசி மாணவர் நலனுக்காக யோசி </button>
  </ion-content>
</ion-view>